@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root{
    font-size:16px;
}

// variables

$white         : #ffffff;
$bg_color      : #F8F8F8;
$base_color    : #0F62FE;
$gray_color    : #555555;
$black         : #000000;
$theme_green   : #23DE9A;
$theme_purple  : #B496D6;
$theme_red     : #FF808B;

html, body{
    min-height:100%;
    height: 100%;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:1rem;
    background: $bg_color;
}

img{
    max-width:100%;
}

// Fluid font size

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}
  
@mixin fluid-font($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
  
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
      & {
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
          font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
        @media screen and (min-width: $max-vw) {
          font-size: $max-font-size;
        }
      }
    }
}

// buttons style

.btn{
    &.btn-radius{
        border-radius:40px;
    }
    &.btn-md{
        padding:10px 25px;
        font-weight:500;
    }
    &.btn-blue{        
        background: $base_color;
        color: $white;
    }
    &.btn-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        .icon{
            margin:0 8px 0 0;
        }
    }
    &.btn-white{
        background: $white;
    }
    &.btn-gray{
        background: #E5E5E5;
        color: #888888;
    }
    &.btn-red{
        background: #FA6D79;
        color:$white;
    }
    &.btn-green{
        background: #428F6B;
        color:$white;
    }
}

// form group styles

.form-group{
    position: relative;
    label{
        font-weight:700;
        color: $gray_color;
        &.main-label{
            display: block;
            margin:0 0 0.2rem 0;
        }
    }
    .form-control{
        height:45px;
        &:focus{
            border-color:lighten($base_color, 30%);
            box-shadow: 0 0 0 0.2rem rgba($base_color, 0.15);
        }
    }
    .input-group{
        .form-control{
            &.right{
                border-right:0;
            }
        }
        .input-group-append{
            .input-group-text{
                background: transparent;
                border-left: 0;
            }
        }
    }
}

// badge styles

.badge{
    &.badge-md{
        font-weight: 400;
        height:26px;
        line-height:1.2;
        padding:5px 10px;
        font-size:14px;
        margin:0 3px 0 0;
    }
    &.badge-success{
        background: #428F6B;
    }
    &.badge-danger{
        background: #FA6D79;
    }
}

.custom-select{
    background: #fff url(../images/keyboard_arrow_down.svg) no-repeat right 0.75rem center/8px 10px;
}

.invalid-feedback{
    display: block;
}

.material-icons{
    user-select: none;
}


// login form style

.login-form-wrap{

    .row{
        &.no-padding{
            .login-col{
                padding:0;
            }
        }
    }

    .login-page-content{

        padding:30px 0 20px 0;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:100%;

        .login-heading{
            margin:15px 0 0 0;
            h2{
                @include fluid-font(300px, 1920px, 18px, 34px);
                font-weight:600;
                padding:0 10px;
            }
            h4{
                @include fluid-font(300px, 1920px, 16px, 18px);
                padding:0 60px;
                line-height: 1.4;
            }
        }

        .login-box{
            background: $white;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding:25px;
            margin-top:30px;

            .forgot-password{
                a{
                    color:#333;
                    font-weight:500;
                }
            }

        }

        .login-footer{
            padding:0 20px;
            .language-dropdown{
                position: relative;
                .material-icons{
                    position: absolute;
                    left:7px;
                    top:7px;
                    color: #888;
                    font-size:24px;
                }
                .custom-select{
                    max-width: 140px;
                    padding-left:35px;                    
                }
            }
        }

    }

    .login-page-infographic{
        background: $base_color;
        color: $white;
        padding:30px;
        text-align: center;
        height:100%;
        img{
            max-width:380px;
        }
        .info-content{
            @include fluid-font(300px, 1920px, 20px, 32px);
            font-weight:600;
            padding:30px 40px 0 40px;
            line-height: 1.3;
        }
        .pattern-1{
            background: url(../images/pattern-1.svg) no-repeat;
            width:268px;
            height:27px;
            position: absolute;
            top:20px;
            left:20px;
        }
        .pattern-2{
            background: url(../images/pattern-2.svg) no-repeat;
            width:76px;
            height:41px;
            position: absolute;
            bottom:20px;
            right:20px;
        }
    }

}

// dashboard style

.dashboard-wrap{
    padding:0 0 0 280px;
    .dashboard-sidebar{
        width:280px;
        background:$white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        min-height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:0 0 15px 0;
        position: fixed;
        left:0;
        top:0;
        bottom:0;
        overflow:auto;        
        .logo-area{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:20px;
            border-bottom:1px solid rgba($black, 0.1);
        }
        .dashboard-navigation{
            padding:20px;
            .dropdown{
                .dropdown-toggle{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding:8px 20px 10px;
                    &:after{
                        background: url(../images/add_circle.svg) no-repeat;
                        background-size: cover;
                        height:18px;
                        width:18px;
                        border:0;
                    }
                }
                &.show{
                    .dropdown-toggle{
                        border-radius:20px 20px 0 0;
                        box-shadow: none;
                    }
                }
                .dropdown-menu{
                    width:100%;
                    padding:0;
                    margin:0;
                    border:0;
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
                    border-radius: 0px 0px 20px 20px;
                    .dropdown-item{
                        padding:10px 20px;
                        &:last-child{
                            border-radius:0 0 20px 20px;
                        }
                    }
                }
            }

            .nav{
                margin:20px 0 0 0;
                .nav-link{
                    height:36px;
                    color: $gray_color;
                    font-size:1rem;
                    margin:0 0 10px 0;
                    display: flex;
                    align-items: center;
                    border-radius:4px;
                    .material-icons{
                        margin-right:8px;
                    }
                    &.active{
                        background: rgba($base_color, 0.05);
                        color: $base_color;
                    }
                }
            }

        }
    }    
    .dashboard-navigation-bg{
        display: none;
    }
    .dashboard-content-wrap{
        padding:30px;
        .page-header{
            margin:0 0 30px 0;
            .user-dropdown{
                min-width:240px;
                .dropdown-toggle{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding:10px 15px;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
                    .btn-content{
                        display: flex;
                        align-items: center;
                        .material-icons{
                            margin:0 8px 0 0;
                            opacity:0.3;
                            font-size:24px;
                        }
                    }
                    &:after{
                        border:0;
                        font-family: 'Material Icons';
                        content: 'more_vert';
                        font-size:24px;
                        line-height: 0.8;
                        width: 18px;
                    }
                }
                .dropdown-menu{
                    width:100%;
                    padding:0;
                    margin:0;
                    border:0;
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
                    border-radius: 0px 0px 20px 20px;
                    z-index: 8;
                    .dropdown-item{
                        padding:10px 20px;
                        display: flex;
                        align-items: center;
                        .material-icons{
                            margin:0 8px 0 0;
                        }
                        &:last-child{
                            border-radius:0 0 20px 20px;
                        }
                    }
                }
                &.show{
                    .dropdown-toggle{
                        border-radius:20px 20px 0 0;
                        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.01);
                        position: relative;
                        z-index: 10;
                    }
                }
            }

            .logged-in-user{
                .mobile-logo{
                    display: none;                    
                }
            }

            h1{
                @include fluid-font(300px, 1920px, 18px, 32px);
                font-weight:600;
            }

            h3{
                @include fluid-font(300px, 1920px, 16px, 22px);
            }

        }

        .dashboard-stats{
            margin:0 0 30px 0;
            .activity-box{
                box-shadow: 0px 2px 20px rgba($black, 0.05);
                border-radius: 5px;
                background:$white;
                padding:15px;
                .graph-data{
                    display: flex;
                    align-items: center;
                    .graph-vector{
                        max-width:74px;
                        min-width:74px;
                        width:74px;
                        img{
                            max-width: 74px;
                        }
                        svg{
                            max-width:74px;
                        }
                    }
                    .percentage{
                        line-height: 1.2;
                        margin-left:10px;
                        strong{
                            @include fluid-font(300px, 1920px, 18px, 32px);
                        }
                        p{
                            margin:0;
                        }
                    }
                }
                .total-counts{
                    padding:8px 15px;                    
                    border-radius:5px;
                    margin:15px 0 0 0;
                    display: flex;
                    align-items: center;
                    .count-icon{
                        height:48px;
                        width:48px;
                        min-width:48px;
                        max-width: 48px;
                        margin:0 10px 0 0;
                        .material-icons{
                            font-size:48px;
                            line-height: 1;
                            color:#fff;
                        }
                    }
                    .count-details{
                        color:$white;
                        line-height:1;
                        strong{
                            @include fluid-font(300px, 1920px, 18px, 28px);
                        }
                        p{
                            margin:0;
                            @include fluid-font(300px, 1920px, 16px, 20px);
                        }
                    }
                }
                &.green{
                    .total-counts{
                        background: $theme_green;
                    }
                }
                &.blue{
                    .total-counts{
                        background: $base_color;
                    }
                }
                &.purple{
                    .total-counts{
                        background: $theme_purple;
                    }
                }
                &.red{
                    .total-counts{
                        background: $theme_red;
                    }
                }
            }
        }

    }

}

table.table{
    background: $white;
    thead{
        tr{
            th{
                font-weight: 500;
                text-transform: uppercase;
                font-size:14px;
            }
        }
    }
    .table-actions{
        a{
            text-decoration: none;
            color:#333333;
            .material-icons{
                font-size:20px;
            }
        }
    }
}

// pagination style

.pagination{
    .page-item{
        margin:0 8px 0 0;
        a.page-link{
            border-radius:0.25rem;
            border:0;
            font-weight:500;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
            background: $base_color;
            color: $white;
        }
        &.disabled{
            a.page-link{
                background: #E5E5E5;
                color:#888;
                box-shadow: none;
            }
        }
        &.active{
            a.page-link{
                background: $white;
                color: $base_color;
            }
        }
    }
}

// .modal style

.modal-content{
    border:0;
    border-radius:8px;
    .modal-header{
        padding: 0.6rem 1rem;
    }
    .modal-body{
        min-height: 380px;
        &.alert-box{
            min-height: auto;
            h4{
                margin:20px 0 0 0;
            }
        }
    }
    .modal-actions{
        padding:15px 0 20px 0;
        .btn{
            padding:8px 25px 10px;
            margin:0 5px;
        }
    }
}

.custom-control{
    &.custom-switch{
        .custom-control-label{
            &:before{
                height: 2.5rem;
                border-radius:30px;
                width:120px;
            }
            &:after{
                width: calc(2rem - 6px);
                height: calc(2rem - 6px);
                border-radius:30px;
                top: calc(0.25rem + 7px);
                left: calc(-2.25rem + 7px);
            }
            span{
                position: relative;
                line-height: 3.2;
                font-size: 15px;
                display: inline-block;
                width: 70px;
                text-align: center;
                &:after{
                    content: 'Inactive';
                }
            }
        }     
        .custom-control-input:checked{
            ~ .custom-control-label{
                span{
                    left: -20px;
                    color: $white;
                    &:after{
                        content: 'Active';
                    }
                }
                &:before{
                    background: #428F6B;
                    border-color: #428F6B;
                }
                &:after{
                    transform: translateX(5rem);
                    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.51);
                }
            }
        }   
    }
}

// custom autocomplete dropdown

.input-group-dropdown{
    padding:15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    background:$white;
    position: absolute;
    width:100%;
    z-index: 100;
    max-height:170px;
    overflow: auto;
    ul{
        margin:0;
        padding:0;        
        li{
            list-style: none;
            margin:0 0 5px 0;
            label{
                font-weight:400;
                cursor: pointer;
            }
            &:last-child{
                margin-bottom:0;
            }
        }
    }
}

// autocomplete chips wrap

.chips-wrapper{
    display: flex;
    align-items: center;
    user-select: none;
    flex-wrap: wrap;
    height: auto !important;
    .chip{
        display: flex;
        align-items: center;
        background: #555555;
        border-radius: 4px;
        color: $white;
        font-size: 14px;
        margin:0 8px 0 0;
        padding:5px 8px;
        user-select: none;
        .material-icons{
            font-size:18px;
            cursor: pointer;
            margin-left:5px;
        }
    }
}

@import "responsive";